<footer class="container-fluid">
	 <div class="footer_div">
	   <a class="mylogo"><img id=bananaLogo src="/images/banana_flower.jpg"></a>
	   <p id=footerId ><i class="fa fa- copyright"> Westernesse 2019</i></p>
	 </div>
</footer>
