<footer class="container-fluid">
	 <div class="footer_div">
	   <a class="mylogo"><img src="./public/images/banana_tree.jpg"></a>
	   <p><i class="far fa-copyright"></i> Westernesse 2019 </p>
	 </div>
</footer>
