	<!DOCTYPE html>
	<html>
	<link rel='stylesheet' href='/stylesheets/style.css'>
	<head>
		<title>NOPE Log In</title>
	</head>
	<body>
	<div id =logIn>
		<h2>Please Log In</h2>
		<!-- <% if(error) { %>
		<%= error %>
		<% } %> -->
		<form action="/login" method="post">
			<label for="username">Email Address</label>
			<input name="username" placeholder="Email Address" required autofocus>

			<label for="password">Password</label>
			<input name="password" type="password" required>

			<button type="submit">Sign In</button>
		</form>
	</div>
	</body>
	</html>