<nav id="navBar" class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="mylogo" href="/"><img src="" id="headlogo"></a> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li id="navBarStuff" class="nav-item active">
        <a href="/All_Plants"><span>All Plants</span></a>
        <a href="/My_Plant_Listings"><span>My Plant Listings</span></a>
        <a href="/Add_Plants"><span>Add Plants</span></a>
      </li>

    </ul>

  </div>
</nav>

<!-- a class= "nav-link" -->
