<% layout('../partials/layout') %>
<h1> Welcome to the New Orleans Plant Exchange </h1>
    <h2> Trading and Selling Locally </h2>
     <h2 id="plantColorOne">My Listed Plants</h2><br>
     <section>
    	<div class="row" id="myListedPlants">
      <!-- <figure class="col-lg-4"> -->
      <img src="../images/croton.jpg"></figure><br>
      <!-- <figure class="col-lg-4"> -->
      <img src="../images/yellow_hibiscus.jpg"></figure><br>
      <!-- <figure class="col-lg-4"> -->
      <img src="../images/basil.jpg"></figure><br>
      <!-- <figure class="col-lg-4"> -->
      <img src="../images/cactus.jpg"></figure><br>
      <!-- <figure class="col-lg-4"> -->
      <img src="../images/magnolia.jpg"></figure><br>
      <!-- <figure class="col-lg-4"> -->
      <img src="../images/banana_portrait.jpg"></figure><br>
    
    </div></section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="https://kit.fontawesome.com/792aec6a64.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjsmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <!-- <script type="text/javascript" src= "javascripts/nope.js"></script> -->
</body>
</html>