/*
#644059 eggplant
#BE9098 blush
#e1c3d9 lt pink
#dbd0a3 lt sand
#f5e8a2 buttercup
#f9f5e3 sand white
#e0e0e1 lt gray
#a0a2a7 dk gray
#9098be lt blue purp
#545c88 slate blue
#90BEB6 mint
#55A191 lt jungle
#40644b forest green
*/
#logo{
  width: 300px;
}
/*#bananaLogo{
  width: 100px;
  height: 100px;
  float: left;
  padding: 20px 20px 20px;
*/
body {
  padding: 50px;
  font: 15px "Georiga", serif;
  align-content: center !important;
  text-align: center !important;
}
p{
color: #90BEB6;
text-align: left;
padding: 50px;
font-size: xx-large;
width:100%;
}
a {
  color: #b9db24;
  text-align: center;
}
header{
	text-align: center;
	color: #e1c3d9;
}
h1 {
    font-family: 'Georgia', serif;
    text-align: center;
    color: #e1c3d9;
    margin: 50px;
    padding-top:50px;
}
h2 {
    font-family: 'Georgia', serif;
    text-align: center;
    color: #55A191;
    align-content: center;
}
h3 {
    font-family: 'Georgia';
    align-content: center;
    color: #b12c8d;
    font-size: 20px;
    display: inline;
}

#leaf{
  color:#40644b !important;
	padding-right: 20px !important;
}
#uploadFile{
font-family: 'Georgia';
    text-align: center;
    color: #644059;
    background-color: #e1c3d9;
    font-size: 20px;
    width: 100px !important;
    }
#plantImg{
	font-family: 'Georgia';
    text-align: center;
    color: #90BEB6 !important;
    font-size: 20px;
    display: inline;
}
#maybe{
  color: #644059;
    background-color: #e1c3d9; 
}
#new-plant{
	font-family: 'Georgia';
    text-align: center;
    color: #ffe870;
    font-size: 20px;
}
#createAccount{
	font-family: 'Georgia';
    text-align: center;
    color: #55A191;
    font-size: 20px;
    width: 200px;
    background-color: #f5e8a2;
}
#logIn{
	text-align: center;
	color: #22863d;
}
.mylogo{
	color: #545c88;
  text-align:right;
}
#jumboBanana.jumbotron.jumbotron-fluid{
	width: 100%;
	height: 400px;
	padding-right: 0px;
	padding-left: 0px;
	border-radius: 500px !important;
	background-image: url("/images/banana_landscape_jumbotron.JPG");
	image-rendering: optimizeQuality;
	background-size: cover;
}
.h1{
  margin-top: 50px;
  font-weight: 500;
  line-height: 1.2;

}
h1#prettyHeader{
  padding-top: 100px;
  font-weight: 75 !important;
  font-size: 500 !important;
  color:#dbd0a3;
  text-shadow: 4px 4px 3px #644059;
}
footer{
	display:inline-block;
	background-image: url("/images/tulips_landscape.JPG");
  image-rendering: optimizeQuality;
  background-size: cover;
  width: 100% !important;
  height: 150px;
  border-radius: 500px !important;
  padding: 25px 25px 25px;
  font-size: 500 !important;
  font-weight:75 !important;
  color:#dbd0a3;
  text-shadow: 3px 3px 3px #55A191;
}
#footerId{
  float: left !important;
  padding-top: 25px !important;
}
}
p.footerId{
  width:100%;
}
#plantColorOne{
  color:#545c88;
}
#plantColorTwo{
  color:#545c88;
}
#plantColorThree{
  color:#545c88;
}
section .row img{
  margin: 20px;
  width: 500px;
  display: inline-block;
}
#navBar{
  width:100%;
  text-align: center;
  color: #22863d;
  align-items: center;
}
#navBarStuff.nav-item.active{
  width:100%;
  text-align: center;
  color: #22863d;
  align-items: center;
}
#navbarSupportedContent{
  width:100%;
  text-align: center !important;
  color: #22863d !important;
  align-items: center !important;
  background-color: #f5e8a2;
  border-color: transparent;
  font-size: 40px;
}
/* visited link */
.nav-item a:visited {
  color: #e0e0e1;
}
/* mouse over link */
.nav-item a:hover {
  color: #e1c3d9;
}
.nav-item a {
  width:100%;
  text-align: center;
  color: #22863d;
  align-items: center;
  margin: 50px;
}
.navbar-nav {
  margin: 0 auto;
  /*center*/
}
#navBarStuff{
  width:100%
  text: center;
  color: #22863d;
  align-items: center;
/*yellow*/
}
#myListedPlants{
  columns: 3;
  margin: 0px;
  padding-bottom: 20px;
  width: 100%;
  display: inline-block;
}
#prettyPlants{
  columns: 2;
  margin: 20px;
  width: 500px;
  display: inline-block;
}