/*
#644059 eggplant
#BE9098 blush
#e1c3d9 lt pink
#dbd0a3 lt sand
#f5e8a2 buttercup
#f9f5e3 sand white
#e0e0e1 lt gray
#a0a2a7 dk gray
#9098be lt blue purp
#545c88 slate blue
#90BEB6 mint
#55A191 lt jungle
#40644b forest green
*/


body {
  padding: 50px;
  font: 15px "Georiga", serif;
  align-content: center;
  text-align: center;
}
p{
color: #15e052;
text-align: center;
}
a {
  color: #b9db24;
}
header{
	text-align: center;
	color: #e1c3d9;
}
h1 {
    font-family: 'Georgia', serif;
    text-align: center;
    color: #e1c3d9;
}
h2 {
    font-family: 'Georgia', serif;
    text-align: center;
    color: #15e052;
    align-content: center;
}
h3 {
    font-family: 'Georgia';
    align-content: center;
    color: #b12c8d;
    font-size: 20px;
    display: inline;
}

#leaf{
	padding-right: 100px !important;
}
#plantImg{
	font-family: 'Georgia';
    text-align: center;
    color: #ffe870;
    font-size: 20px;
    display: inline;
}
#new-plant{
	font-family: 'Georgia';
    text-align: center;
    color: #ffe870;
    font-size: 20px;
}
#uploadFile{
font-family: 'Georgia';
    text-align: center;
    color: #ffe870;
    font-size: 20px;
    width: 50% !important;
}
#createListing{
	font-family: 'Georgia';
    text-align: center;
    color: #ffe870;
    font-size: 20px;
    width: 50px;
}
#createAccount{
	font-family: 'Georgia';
    text-align: center;
    color: #ffe870;
    font-size: 20px;
    width: 200px;
}
#logIn{
	text-align: center;
	color: #22863d;
}
#navBar{
	text-align: center;
}
.mylogo{
	color: #15e052;
}
#jumboBanana.jumbotron.jumbotron-fluid{
	width: 100%;
	height: 300px;
	padding-right: 0px;
	padding-left: 0px;
	border-radius: 500px !important;
	background-image: url("/images/banana_landscape_jumbotron.JPG");
	image-rendering: optimizeQuality;
	background-size: cover;
}
footer{
	display:inline-block;
	float: right;
	color: white;
	background-color: #40644b;
}
#bananaLogo{
	width: 100px;
	height: 100px;
	float: left;
	padding: 20px 20px 20px;

}
#footerId{
	float: right;
	padding: 25px 25px 25px;
	color: #e1c3d9;
	align-content: center;
}
/*button{
  border: 0px;
  color: #888;
  font-size: 20px;
  width: 60px;
  margin: inherit, 0 0;
  font-family: 'Georgia', serif;
  cursor: pointer;
  float: right;
  display: inline-block;*/
}
input[type="text"] {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  height: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: 'Georgia', serif;
  color: #888;
}
input[type="text"]:focus {
  color: #333;
}