<!DOCTYPE html>
<html>
<head>
  <title>New Orleans Plant Exchange</title>

  <link href="https://fonts.googleapis.com/css?family=Georgia%7CLora&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/792aec6a64.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <div class="jumbotron jumbotron-fluid" id="jumboBanana">
  <div class="container"id="jumbotron-fluid">
    <h1 class="display-4">New Orleans Plant Exchange</h1>
    
  </div>
</div>

</head>
<body>
    <h2> Welcome! </h2>
    
    <br><br><br>
      <div class="container" id="logInContainer">>
    <h2>Please Log In</h2>
      <form action="/login" method="post">
    <h3> Email Address </h3><input placeholder="Email Address" type="email" id="emailAddress">
    <br>
    <h3> Password </h3><input placeholder= "Password" type="textHidden" id="password" encrypt= true>
    <input type="button" id="createAccount" value="Create Account" onclick="addElement(),refresh()">

    
      
    </form>
  </div> 
      <br><br><br>

    <div><%-partial('partials/footer') %></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="https://kit.fontawesome.com/792aec6a64.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <!-- <script type="text/javascript" src= "javascripts/nope.js"></script> -->
</body>
</html>