<!DOCTYPE html>
<html>
  <head>
    <title><%= Welcome to NOPE %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welcome to New Orleans Plant Exchange </h1>
    <p> Trading and Selling Locally </p>
  </body>
</html>
