<% layout('partials/layout') %>
<title><%= blocks.title %></title>
    <h1> Welcome! </h1>
    <br>
      <div class="container" id="logInContainer">
    <h2>Please Log In</h2>
      <form action="/login" method="post">
    <h3> Email Address </h3><input placeholder="Email Address" type="email" id="emailAddress">
    <br>
    <h3> Password </h3><input placeholder= "Password" type="password" id="password" encrypt= true>
    <input type="button" id="createAccount" value="Create Account" onclick="window.location.href='/Add_Plants'">



  
      
    </form>
  </div> 
   

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/792aec6a64.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <!-- <script type="text/javascript" src= "javascripts/nope.js"></script> -->
</body>
</html>